*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 132, 255);
}

    /* NAV BAR STARTED HERE */
.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 99;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fa-xmark{
    position: absolute;
    font-size: 25px;
    right: 20px;
    top: 10px;
    display: none;
    cursor: pointer;
}
.fa-bars{
    position: absolute;
    font-size: 25px;
    right: 20px;
    top: 10px;
    display: none;
    cursor: pointer;
}
li {
    display: inline-block;
    padding: 10px;
}

li a{
    color: rgb(36, 36, 36);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.7s;
}
.logo{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
}
.nav-links{
    margin-left: 25%;
}
li a:hover{
    background-color: rgb(36, 36, 36);
    color: rgb(0, 132, 255);
}
li a:active{
    background-color: #fff;
}

@media screen and (max-width: 847px){
    .logo{
        font-size: 25px;
    }
    .nav-links{
        width: 100%;
        display: none;
        margin-left: 0;
        transition: 0.3s all ease-in;
    }
    .fa-bars{
        display: block;
    }
   .nav-links li{
       display: block;
       width: 100%;
       text-align: center;
   }
   .nav-links a{
       padding: 11px; 
   }
   li a:hover{
    color: #fff;
    background-color: none;
}
  
}
    /* NAV BAR ENDS HERE */


    /* PRODUCT STARTED HERE */
.products{
    text-align: center;
    color: rgb(0, 132, 255);
}
.products h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 38px;
}

    /* PRODUCT ENDS HERE */


.order-now h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 38px;
}







        /* FOOTER STARTED HERE */
.footer{
    color: rgb(0, 132, 255);
}
.social-links{
    text-align: center;
}
.fa-twitter-square, .fa-facebook-square, .fa-whatsapp-square, .fa-instagram-square{
    font-size: 30px;
    margin: 40px 5px 0;
    cursor: pointer;
    transition: 0.5s;
}
.fa-twitter-square:hover, .fa-facebook-square:hover, .fa-whatsapp-square:hover, .fa-instagram-square:hover{
    transform: translateY(-7px)
}
    /* FOOTER ENDS HERE */